<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/design.css">
	<script src='js/jquery.min.js'></script>
	<script src='js/bootstrap.min.js'></script>
	<head>
		<title>The STEAM Cloud: Data Analytics and Research Module</title>
		<link rel='icon' href='../images/logo2.png'>
	</head>
	<body id='indexbody'>
		<div class='container-fluid'>
			<div id='bg-bar'>
				
			</div>
			<div class='row'>
				<div id="logo" class='col-lg-4 col-lg-offset-4 text-center'>
					<div id='logo'>
						<img src='../images/logo2.png'>
					</div>
					<div id='title'>
						<h1>S T E A M &nbsp C L O U D</h1>
						<h4>online data analytics platform, e-learning and research management system</h4>
					</div>
				</div>
				<div id='form' class='col-lg-6 col-lg-offset-3'>
					<form id="form-content" class="form-horizontal" method="POST" action="/login">
						<div class="form-group">
							<label class="control-label col-sm-2" for="email">Email :</label>
							<div class="col-sm-10">
								<input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="pwd">Password :</label>
							<div class="col-sm-10">          
								<input type="password" class="form-control" id="pwd" placeholder="Password" name="pwd" required>
							</div>
						</div>
						<div class='row'>
							<div class='col-lg-10'>
								<div id='notif' class='text-center text-danger'>
									<p>User does not exist.</p>
								</div>
								<div id='notif2' class='text-center text-danger'>
									<p>Password is invalid.</p>
								</div>
							</div>
							<div class='col-lg-2'>
								<div class="form-group">        
									<div class="col-sm-offset-2 col-sm-10 text-right">
										<button type="submit" class="btn btn-primary">Log In</button>
									</div>
								</div>
							</div>
						</div>
					</form>
					<br><br><hr><br><br>
					<h3>In partnership with:</h3><br>
					<div class='row'>
						<div class='text-center col-lg-12'>
							<div class='row container-fluid'>
								<div class='col-lg-6'>
									<img class='partner' src='../images/chedgov.jpg'>
								</div>
								<div class='col-lg-6'>
									<img class='partner' src='../images/usc.jpg'>
								</div>
							</div>
						</div>
					</div>
					<br><br><hr><br><br>

					<h3>Services</h3>
					<div id='info'>
						<h4>Data Visualization</h4>
						<p>Helps improve the understanding in the significance of data by placing it in a visual context. Patterns, trends and correlations that might go undetected in text-based data can be exposed and recognized easier with data visualization</p>
						<div class='text-center'>
							<img class="gif" src='../images/graph.gif'>
						</div>
					</div>
					<div id='info2'>
						<h4>Research Management</h4>
						<p>Stores faculty's publications e.g. Books, Researches, and etc. Used for faster data compilation and gathering.</p>
						<div class='text-center'>
							<img class="gif" src='../images/research.gif'>
						</div>
					</div>
					<br><br><hr><br><br>
					<h3>Technologies</h3><br>
					<div class="row">
						<div class='col-lg-6 text-center'>
							<img class="tech" src="../images/nodejs.jpg">
						</div>
						<div class="col-lg-6">
							<p>JavaScript runtime built on Chrome's V8 JavaScript engine</p>
						</div>
					</div>
					<div class="row">
						<div class='col-lg-6 text-center'>
							<img class="tech" src="../images/sql.jpg">
						</div>
						<div class="col-lg-6">
							<p>Standard language for storing, manipulating and retrieving data in databases</p>
						</div>
					</div>
					<br><br><hr><br><br>
					<h3>Developers</h3><br>
					<div class="row">
						<div class='col-lg-12 text-center'>
							<h4>Data Analytics and Research Module</h4>
						</div>
						<div class='col-lg-3 text-center'>
							<img class="face" src="../images/ouanore.jpg">
							<p>Ouano, Renzo Emmanuel</p>
						</div>
						<div class='col-lg-3 text-center'>
							<img class="face" src="../images/mandiadijo.jpg">
							<p>Mandiadi, Jones Joseph</p>
						</div>
						<div class='col-lg-3 text-center'>
							<img class="face" src="../images/varganch.jpg">
							<p>Vargan, Christian Donne</p>
						</div>
						<div class='col-lg-3 text-center'>
							<img class="face" src="../images/valmoriajo.jpg">
							<p>Valmoria, Jose Erwin</p>
						</div>
					</div><br>
					<div class="row">
						<div class='col-lg-12 text-center'>
							<h4>E-Learning Module</h4>
						</div>
						<div class='col-lg-3 text-center'>
							<img class="face" src="../images/augustoel.jpg">
							<p>Augusto, Eldrin Jake</p>
						</div>
						<div class='col-lg-3 text-center'>
							<img class="face" src="../images/sevara.jpg">
							<p>Seva, Rafael</p>
						</div>
						<div class='col-lg-3 text-center'>
							<img class="face" src="../images/olisjh.jpg">
							<p>Olis, Jhodyll Joseph</p>
						</div>
						<div class='col-lg-3 text-center'>
							<img class="face" src="../images/delosreyesdh.jpg">
							<p>Delos Reyes, Dhalsim</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
<script>
	$(document).ready(function(){
		$("#notif").hide();
		$("#notif2").hide();
		$("#logo").hide();
		$("#form").hide();
		
		$("#logo").fadeIn(1000);
		$("#form").fadeIn(1000);
		
		var i = "<%= error %>";
		
		switch(i){
			case '1': $("#notif").fadeIn(1000); break;
			case '2': $("#notif2").fadeIn(1000); break;
			default: break;
		}
		
	})
</script>