<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DEPARTMENT VERIFICATION</title>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Francois+One|Patua+One" rel="stylesheet">
    <link rel="stylesheet" href="css/design.css">
  </head>
  <body>
    <div class="container">
      <p>Please approach your School Dean for the personal information verification !</p>

      <h3>REDIRECTING: <a href="\">\</a> </h3>
    </div>
  </body>
</html>
